<template>
    <div class="apartment">
<!--        <img src="../assets/logo.png" class="modal-logo">-->
        <a @click="$router.push({ name: 'apartmentList'})" title="Close" class="modal-close">
            <img src="../assets/cancel.png" class="cancel">
        </a>
        <div v-if="1 ==2" class="social">
            <a href="javascript:void(0);"><img src="../assets/instagram.png"></a>
            <a href="javascript:void(0);"><img src="../assets/facebook.png"></a>
        </div>
        <img src="../assets/loading.gif" class="wait-back" v-if="loading">
        <div v-for="(item, index) in data" :key="index">
            <h1>Квартира № {{item.id}}</h1>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 apartment__plan">
                        <div style="cursor: pointer" data-toggle="modal" data-target=".bd-example-modal-lg">
                            <img :src="'https://amiraprom.kz/' + item.img_plan" v-if="item.img_plan">
                            <img src="../assets/noimage.jpg" v-else>
                        </div>
                    </div>
                    <div class="col-lg-4 apartment__info">
                        <div class="d-flex align-items-center justify-content-between">
                            <h6 class="mb-0">Резиденция</h6>
                            <p class="mb-0">Блок {{item.block_id}}, секция ?</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <h6 class="mb-0">Этаж </h6>
                            <p class="mb-0">{{item.floor}}</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <h6 class="mb-0">Спальни: </h6>
                            <p class="mb-0">{{item.rooms_count}}</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <h6 class="mb-0">Площадь</h6>
                            <p class="mb-0">{{item.square}} м</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <h6 class="mb-0">Подъезд:</h6>
                            <p class="mb-0">{{item.queue_number}}</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <h6 class="mb-0">Сдача:</h6>
                            <p class="mb-0">{{item.deadline}} м</p>
                        </div>
                        <div class="price border-0 mt-3">
                            <span>Стоимость</span>
                            <p class="mb-0">От {{item.price / 100}} за м²</p>
                        </div>
                        <div class="d-flex btns-trade align-items-center justify-content-between border-0">
                            <button class="btn">Trade-in</button>
                            <button class="btn">Рассрочка</button>
                        </div>
                        <div class="share text-white border-0 m-0 d-flex align-items-center justify-content-start">
                            <img src="../assets/chat.png" class="img-fluid mr-2" alt="">
                            <span>Получить консультацию</span>
                        </div>
                        <div class="share text-white border-0 d-flex align-items-center justify-content-start">
                            <img src="../assets/bell.png" class="img-fluid mr-2" alt="">
                            <span>Бронировать квартиру</span>
                        </div>
                        <div class="share text-white border-0 m-0 d-flex align-items-center justify-content-start">
                            <span>Поделиться</span>
                        </div>
                        <div class="d-flex border-0">
                            <a href=""><img src="../assets/twitter.png" class="img-fluid" alt=""></a>
                            <a href=""><img src="../assets/telegram.png" class="img-fluid mx-2" alt=""></a>
                            <a href=""><img src="../assets/fb.png" class="img-fluid" alt=""></a>
                        </div>


                        <div v-if="1  ==  2">
                            <button type="button" class="btn pl-0 mb-2">
                                <img src="../assets/print.png" class="mr-3">
                                Распечатать
                            </button><br>
                            <button type="button" class="btn pl-0">
                                <img src="../assets/share.png" class="mr-3">
                                Поделиться
                            </button>

                            <a href="#call-back" class="zapros">Запросить цену</a>
                        </div>

                    </div>
                </div>
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <img class="img-fluid" :src="'https://amiraprom.kz/' + item.img_plan" v-if="item.img_plan">
                        </div>
                    </div>
                </div>

                <!--                <pre style="color: white">{{item}}</pre>-->

            </div>
        </div>

        <div id="call-back" class="modal-window call-back">
            <img src="../assets/logo.png" class="modal-logo">
            <a href="#" title="Close" class="modal-close"><img src="../assets/cancel.png" class="cancel"></a>
            <div class="container-fluid position-relative">
                <div class="call-block">
                    <div class="call-block__form position-relative">
                        <h2>Обратный звонок</h2>
                        <form>
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="form-group mr-4">
                                    <label for="name">Имя</label>
                                    <input type="text" class="form-control" id="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="tel">Телефон</label>
                                    <input type="tel" class="form-control" mask="+7(999) 999-99-99" id="tel" required>
                                </div>
                            </div>
                            <button type="submit" class="btn">Заказать звонок</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'apartment',
    data() {
        return{
            data: null,
            loading: false
        }
    },
    mounted() {
        this.loading = true
        axios.get('https://amiraprom.kz/api/flat/' + this.$route.params.id)
        .then(response => {
            this.data = response.data.data
            this.loading = false
        }).catch(err => {
            console.log(err)
        })
    }
}
</script>

<style lang="scss" scoped>
    @media (min-width: 992px) {
        .modal-lg, .modal-xl {
            max-width: 70%;
        }
    }
.share {
    span {
        font-size: 18px;
    }
    img {
        width: 20px;
    }
}
.btns-trade {
    button {
        border: 1px solid #FFDB94;
        font-size: 16px !important;
        line-height: 16px !important;
        border-radius: 100px;
        width: 45%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.price {
    span {
        display: block;
        font-size: 18px;
        color: rgba(255,255,255,.5);
        margin-bottom: 10px;
    }
    p {
        color: #FFDB94;
        font-size: 28px !important;
        font-weight: bold;
    }
}
.apartment{
    background-color: #262626;
    width: 100%;
    height: 100vh;
    font-family: 'Newbaskerville';
    @media (max-width: 768px){
        overflow-y: scroll;
        padding-bottom: 3rem;
    }
    h1{
        font-weight: 600;
        font-size: 48px;
        line-height: 55px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 40px;
        padding-bottom: 80px;
    }
    .container{
        padding: 0 5rem;
        @media (max-width: 425px){
            padding: 0;
        }
    }
    &__plan{
        padding: 0 3rem;
        @media (max-width: 768px){
            margin-bottom: 2rem;
        }
        >div{
            background: #fff;
            width: 100%;
            /*height: 100%;*/
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    &__info{
        padding: 0 3rem;
        > div{
            h6{
                font-weight: 600;
                font-size: 16px;
                line-height: 18px;
                color: #FFFFFF;
            }
            p{
                font-weight: 600;
                font-size: 16px;
                line-height: 18px;
                color: #D6B173;
            }
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
        button{
            color: #fff;
            box-shadow: none;
            font-weight: 600;
            font-size: 17px;
            line-height: 21px;
        }
        .zapros{
            background: transparent;
            border: 2px solid #FFDB94;
            width: 100%;
            height: 60px;
            border-radius: 0;
            padding: 12px;
            font-weight: bold;
            font-size: 16px;
            line-height: 30px;
            color: #ffffff;
            position: relative;
            margin-top: 40px;
            display: block;
            text-align: center;
            &:focus{
                box-shadow: none;
            }
            &:before{
                content: '';
                width: 25px;
                height: 2px;
                background: #FFDB94;
                position: absolute;
                top: 28px;
                left: -13px;
            }
            &:after{
                content: '';
                width: 25px;
                height: 2px;
                background: #FFDB94;
                position: absolute;
                top: 28px;
                right: -13px;
            }
        }
    }
    .social{
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 60px;
        right: 0;
        transform: translateY(-50%);
        width: 26px;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            width: 26px;
            height: 26px;
            border-radius: 50px;
            margin-bottom: 10px;
            border: 1px solid #fff;
            &:last-of-type{
                margin-bottom: 0;
            }
            &:hover{
                border-color:#D6B173;
            }
        }
        @media (max-width: 768px){
            display: none;
        }
    }
    .modal-logo{
        position: absolute;
        right: 60px;
        bottom: 40px;
        z-index: 2;
        @media (max-width: 768px){
            display: none;
        }
    }
    .wait-back{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
    }
    .modal-close {
        position: absolute;
        right: 60px;
        top: 40px;
        z-index: 1;
        padding: 0 !important;
        @media (max-width: 768px){
            top: 20px;
            right: 20px;
        }
    }
    .call-back{
        background-image: url(../assets/menu.png) !important;
        background: transparent;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: round;
        background-position: center;
        > div{
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .call-block{
            width: 800px;
            height: 460px;
            background: transparent;
            font-family: 'Newbaskerville';
            border: 1px solid #D6B173;
            @media (max-width: 768px){
                width: 375px;
                height: 435px;
            }
            &__form{
                padding: 69px 112px;
                color: #fff;
                text-align: center;
                @media (max-width: 768px){
                    padding: 3rem 1.5rem;
                }
                h2{
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 55px;
                    letter-spacing: 0.1em;
                    margin-bottom: 80px;
                    @media (max-width: 768px){
                        font-size: 26px;
                        line-height: 30px;
                        margin-bottom: 50px;
                    }
                }
                input{
                    background: transparent;
                    border-color: transparent;
                    border-bottom: 1px solid #fff;
                    border-radius: 0;
                    color: #ffffff;
                    padding-left: 0;
                    width: 275px;
                    &:focus{
                        box-shadow: none;
                    }
                    @media (max-width: 768px){
                        width: 100%;
                    }
                }
                .form-group{
                    margin-bottom: 80px;
                    text-align: left;
                    @media (max-width: 768px){
                        margin-bottom: 50px;
                        margin-right: 0 !important;
                    }
                    label{
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 18px;
                        margin-bottom: 0;
                    }
                }
                button{
                    background: transparent;
                    border: 2px solid #FFDB94;
                    width: 260px;
                    height: 60px;
                    border-radius: 0;
                    padding: 12px;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 18px;
                    color: #ffffff;
                    position: relative;
                    &:focus{
                        box-shadow: none;
                    }
                    &:before{
                        content: '';
                        width: 25px;
                        height: 2px;
                        background: #FFDB94;
                        position: absolute;
                        top: 28px;
                        left: -13px;
                    }
                    &:after{
                        content: '';
                        width: 25px;
                        height: 2px;
                        background: #FFDB94;
                        position: absolute;
                        top: 28px;
                        right: -13px;
                    }
                }
                form > div{
                    @media (max-width: 768px){
                        display: block !important;
                    }
                }
            }
        }
    }
    .modal-window {
        position: fixed;
        background-color: #262626;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 101;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;
        font-family: 'Newbaskerville';
        &:target {
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
        }
    }
}
</style>
