<template>
    <div id="apartments" class="modal-window apartments">
        <img src="../assets/logo.png" class="modal-logo">
        <div class="social">
            <a href="javascript:void(0);"><img src="../assets/instagram.png"></a>
            <a href="javascript:void(0);"><img src="../assets/facebook.png"></a>
        </div>
        <a @click="$router.push({ name: 'home'})" title="Close" class="modal-close">
            <img src="../assets/cancel.png" class="cancel">
        </a>
        <div class="container" id="app">
            <img src="../assets/loading.gif" class="wait-back" v-if="loading">
            <h1 class="text-center text-white">Апартаменты</h1>
            <div>
                <div class="row">
                    <div class="col-lg-6 apartments__block">
                        <h6>Количество комнат</h6>
                        <el-slider
                            v-model="value"
                            v-on:change="filterData"
                            :max="5">
                        </el-slider>
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="mb-0">{{ value }}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 apartments__block">
                        <h6>Этаж</h6>
                        <el-slider
                            v-model="value2"
                            v-on:change="filterData"
                            :max="5">
                        </el-slider>
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="mb-0">{{ value2 }}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 apartments__block">
                        <h6>Площадь</h6>
                        <el-slider
                            v-model="value3"
                            v-on:change="filterData"
                            range
                            :format-tooltip="formatTooltip"
                            :max="2000">
                        </el-slider>
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="mb-0"><span>от</span> {{ value3_one }}</p>
                            <p class="mb-0"><span>до</span> {{ value3_two }}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 apartments__block">
                        <h6>Цена, млн тг</h6>
                        <el-slider
                            v-model="value4"
                            v-on:change="filterData"
                            range
                            :max="1000000">
                        </el-slider>
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="mb-0"><span>от</span> {{ value4[0] }}</p>
                            <p class="mb-0"><span>до</span> {{ value4[1] }}</p>
                        </div>
                        <button class="btn btn-link d-block ml-auto pr-0 clear" @click="clearFilter">Очистить фильтр</button>
                    </div>
                </div>
                <div class="kvartirs">
                    <div class="row">
                        <div class="col-lg-12">
                            <h6>Квартиры : {{kvartirs_count}}</h6>
                            <div class="kvartirs__block">
                                <div class="kvartirs__item" v-if="index < data.length" v-for="(item,index) in dataToShow" :key="index">
                                    <div class="kvartirs__item__image">
                                        <img :src="'https://amiraprom.kz/' + data[index].img_plan" v-if="data[index].img_plan" data-toggle="modal" :data-target="'#exampleModal' + index">
                                        <img src="../assets/noimage.jpg" v-else>
                                    </div>
                                    <router-link :to="{ name: 'apartment', params: {id: data[index].id }}">
                                        <div class="">
                                            <p>Квартира № {{data[index].id}}</p>
                                            <p>Блок {{data[index].block_id}}, секция ?</p>
                                        </div>
                                        <p>Этаж {{data[index].floor}}</p>
                                        <p>Спальни: {{data[index].rooms_count}}</p>
                                        <p>
                                            <span v-if="data[index].status === 'Sold'">Продано</span>
                                            <span v-else>В продаже</span>
                                        </p>
                                        <h2>{{data[index].square}} м2</h2>
                                    </router-link>
                                    <div class="modal fade" :id="'exampleModal' + index" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header px-2 py-0 border-bottom-0">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <img :src="'https://amiraprom.kz/' + data[index].img_plan">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="kvartirs__item" v-for="(item, index) in data" :key="index">
                                    <div class="kvartirs__item__image">
                                        <img :src="'https://amiraprom.kz/' + item.img_plan" v-if="item.img_plan" data-toggle="modal" :data-target="'#exampleModal' + index">
                                        <img src="../assets/noimage.jpg" v-else>
                                    </div>
                                    <router-link :to="{ name: 'apartment', params: {id: item.id }}">
                                        <div class="">
                                            <p>Резиденция</p>
                                            <p>Блок {{item.block_id}}, секция 5</p>
                                        </div>
                                        <p>Этаж {{item.floor}}</p>
                                        <p>Спальни: 2</p>
                                        <p>В продаже</p>
                                        <h2>{{item.square}} м2</h2>
                                    </router-link>
                                    <div class="modal fade" :id="'exampleModal' + index" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header px-2 py-0 border-bottom-0">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <img :src="'https://amiraprom.kz/' + item.img_plan">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="text-center">
                                    <button class="btn btn-link text-white more" @click="dataToShow += 10" v-if="dataToShow < data.length || data.length > dataToShow">Показать больше</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'apartmentList',
    data() {
        return {
            value: 0,
            value2: 0,
            value3: [0,0],
            value4: [0,0],
            data: null,
            kvartirs_count: null,
            loading: false,
            dataToShow: 10
        }
    },
    computed: {
        value3_one (){
            return this.value3[0] / 10
        },
        value3_two (){
            return this.value3[1] / 10
        }
    },
    mounted() {
        this.loading = true
        axios.get('https://amiraprom.kz/api/all-flats')
        .then(response => {
            this.data = response.data.data
            this.kvartirs_count = response.data.data.length
            this.loading = false
        }).catch(err => {
            console.log(err)
        })
    },
    methods: {
        formatTooltip(val) {
            return val / 10;
        },
        filterData() {
            if((this.value3_one > 0 || this.value3_two > 0) && (this.value4[0] > 0 || this.value4[1] > 0) && this.value && this.value2) {
                this.loading = true
                axios.get('https://amiraprom.kz/api/search?', {
                    params: {
                        square_from: parseInt(this.value3_one),
                        square_to: parseInt(this.value3_two),
                        price_from: this.value4[0],
                        price_to: this.value4[1],
                        rooms_count: this.value,
                        floor: this.value2
                    }
                })
                .then(response => {
                    this.data = response.data.data
                    this.kvartirs_count = response.data.data.length
                    this.loading = false
                }).catch(err => {
                    console.log(err)
                })
            } else if(this.value && this.value2 && (this.value3_one > 0 || this.value3_two > 0)) {
                this.loading = true
                axios.get('https://amiraprom.kz/api/search?', {
                    params: {
                        square_from: parseInt(this.value3_one),
                        square_to: parseInt(this.value3_two),
                        rooms_count: this.value,
                        floor: this.value2
                    }
                })
                .then(response => {
                    this.data = response.data.data
                    this.kvartirs_count = response.data.data.length
                    this.loading = false
                }).catch(err => {
                    console.log(err)
                })
            } else if(this.value && this.value2 && (this.value4[0] > 0 || this.value4[1] > 0)) {
                this.loading = true
                axios.get('https://amiraprom.kz/api/search?', {
                    params: {
                        price_from: this.value4[0],
                        price_to: this.value4[1],
                        rooms_count: this.value,
                        floor: this.value2
                    }
                })
                .then(response => {
                    this.data = response.data.data
                    this.kvartirs_count = response.data.data.length
                    this.loading = false
                }).catch(err => {
                    console.log(err)
                })
            } else if(this.value && (this.value4[0] > 0 || this.value4[1] > 0) && (this.value3_one > 0 || this.value3_two > 0)) {
                this.loading = true
                axios.get('https://amiraprom.kz/api/search?', {
                    params: {
                        square_from: parseInt(this.value3_one),
                        square_to: parseInt(this.value3_two),
                        price_from: this.value4[0],
                        price_to: this.value4[1],
                        rooms_count: this.value,
                    }
                })
                .then(response => {
                    this.data = response.data.data
                    this.kvartirs_count = response.data.data.length
                    this.loading = false
                }).catch(err => {
                    console.log(err)
                })
            } else if(this.value2 && (this.value4[0] > 0 || this.value4[1] > 0) && (this.value3_one > 0 || this.value3_two > 0)) {
                this.loading = true
                axios.get('https://amiraprom.kz/api/search?', {
                    params: {
                        square_from: parseInt(this.value3_one),
                        square_to: parseInt(this.value3_two),
                        price_from: this.value4[0],
                        price_to: this.value4[1],
                        floor: this.value2
                    }
                })
                .then(response => {
                    this.data = response.data.data
                    this.kvartirs_count = response.data.data.length
                    this.loading = false
                }).catch(err => {
                    console.log(err)
                })
            } else if(this.value && this.value2) {
                this.loading = true
                axios.get('https://amiraprom.kz/api/search?', {
                    params: {
                        rooms_count: this.value,
                        floor: this.value2
                    }
                })
                .then(response => {
                    this.data = response.data.data
                    this.kvartirs_count = response.data.data.length
                    this.loading = false
                }).catch(err => {
                    console.log(err)
                })
            } else if(this.value && (this.value3_one > 0 || this.value3_two > 0)) {
                this.loading = true
                axios.get('https://amiraprom.kz/api/search?', {
                    params: {
                        rooms_count: this.value,
                        square_from: parseInt(this.value3_one),
                        square_to: parseInt(this.value3_two),
                    }
                })
                .then(response => {
                    this.data = response.data.data
                    this.kvartirs_count = response.data.data.length
                    this.loading = false
                }).catch(err => {
                    console.log(err)
                })
            } else if(this.value && (this.value4[0] > 0 || this.value4[1] > 0)) {
                this.loading = true
                axios.get('https://amiraprom.kz/api/search?', {
                    params: {
                        rooms_count: this.value,
                        price_from: this.value4[0],
                        price_to: this.value4[1],
                    }
                })
                .then(response => {
                    this.data = response.data.data
                    this.kvartirs_count = response.data.data.length
                    this.loading = false
                }).catch(err => {
                    console.log(err)
                })
            } else if(this.value2 && (this.value3_one > 0 || this.value3_two > 0)) {
                this.loading = true
                axios.get('https://amiraprom.kz/api/search?', {
                    params: {
                        square_from: parseInt(this.value3_one),
                        square_to: parseInt(this.value3_two),
                        floor: this.value2
                    }
                })
                .then(response => {
                    this.data = response.data.data
                    this.kvartirs_count = response.data.data.length
                    this.loading = false
                }).catch(err => {
                    console.log(err)
                })
            } else if(this.value2 && (this.value4[0] > 0 || this.value4[1] > 0)) {
                this.loading = true
                axios.get('https://amiraprom.kz/api/search?', {
                    params: {
                        price_from: this.value4[0],
                        price_to: this.value4[1],
                        floor: this.value2
                    }
                })
                .then(response => {
                    this.data = response.data.data
                    this.kvartirs_count = response.data.data.length
                    this.loading = false
                }).catch(err => {
                    console.log(err)
                })
            } else if((this.value3_one > 0 || this.value3_two > 0) && (this.value4[0] > 0 || this.value4[1] > 0)) {
                this.loading = true
                axios.get('https://amiraprom.kz/api/search?', {
                    params: {
                        price_from: this.value4[0],
                        price_to: this.value4[1],
                        square_from: parseInt(this.value3_one),
                        square_to: parseInt(this.value3_two),
                    }
                })
                .then(response => {
                    this.data = response.data.data
                    this.kvartirs_count = response.data.data.length
                    this.loading = false
                }).catch(err => {
                    console.log(err)
                })
            } else if(this.value4[0] > 0 || this.value4[1] > 0) {
                this.loading = true
                axios.get('https://amiraprom.kz/api/search?', {
                    params: {
                        price_from: this.value4[0],
                        price_to: this.value4[1]
                    }
                })
                .then(response => {
                    this.data = response.data.data
                    this.kvartirs_count = response.data.data.length
                    this.loading = false
                }).catch(err => {
                    console.log(err)
                })
            } else if(this.value3_one > 0 || this.value3_two > 0) {
                this.loading = true
                axios.get('https://amiraprom.kz/api/search?', {
                    params: {
                        square_from: parseInt(this.value3_one),
                        square_to: parseInt(this.value3_two)
                    }
                })
                .then(response => {
                    this.data = response.data.data
                    this.kvartirs_count = response.data.data.length
                    this.loading = false
                }).catch(err => {
                    console.log(err)
                })
            } else if(this.value > 0) {
                this.loading = true
                axios.get('https://amiraprom.kz/api/search?', {
                    params: {
                        rooms_count: this.value,
                    }
                })
                .then(response => {
                    this.data = response.data.data
                    this.kvartirs_count = response.data.data.length
                    this.loading = false
                }).catch(err => {
                    console.log(err)
                })
            } else if(this.value2 > 0) {
                this.loading = true
                axios.get('https://amiraprom.kz/api/search?', {
                    params: {
                        floor: this.value2,
                    }
                })
                .then(response => {
                    this.data = response.data.data
                    this.kvartirs_count = response.data.data.length
                    this.loading = false
                }).catch(err => {
                    console.log(err)
                })
            }
        },
        clearFilter(){
            this.value = 0
            this.value2 = 0
            this.value3 = [0,0]
            this.value4 = [0,0]
            this.loading = true
            this.dataToShow = 10
            axios.get('https://amiraprom.kz/api/all-flats')
            .then(response => {
                this.data = response.data.data
                this.kvartirs_count = response.data.data.length
                this.loading = false
            }).catch(err => {
                console.log(err)
            })
        }
    }
}
</script>

<style lang="scss" scoped>
.apartments{
    padding-bottom: 2rem;
    background-color: #262626;
    h1{
        margin-bottom: 110px !important;
    }
    &__block{
        padding: 0 5rem;
        @media (max-width: 768px){
            padding: 0 2rem;
        }
        &:nth-of-type(1){
            margin-bottom: 45px;
        }
        &:nth-of-type(2){
            margin-bottom: 45px;
        }
        &:nth-of-type(3){
            @media (max-width: 768px){
                margin-bottom: 45px;
            }
        }
        h6{
            font-family: 'Newbaskerville';
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            color: rgba(255, 255, 255, 0.5);
        }
        p{
            font-family: 'Newbaskerville';
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            color: #ffffff;
            span{
                color: rgba(255, 255, 255, 0.5);
            }
        }
        .clear{
            margin-top: 40px;
            font-family: 'Newbaskerville';
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            color: rgba(255, 255, 255, 0.5);
        }
    }
    .kvartirs{
        padding: 0 5rem;
        color: #fff;
        margin-top: 45px;
        @media (max-width: 768px){
            padding: 0 1rem;
        }
        img{
            width: 100px;
            height: 100px;
            object-fit: contain;
        }
        h6{
            margin-bottom: 40px;
            font-family: 'Newbaskerville';
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
        }
        .more{
            background: transparent;
            border: 2px solid #FFDB94;
            width: 260px;
            height: 60px;
            border-radius: 0;
            padding: 12px;
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
            color: #ffffff;
            position: relative;
            margin-top: 1rem;
            &:focus{
                box-shadow: none;
            }
            &:before{
                content: '';
                width: 25px;
                height: 2px;
                background: #FFDB94;
                position: absolute;
                top: 28px;
                left: -13px;
            }
            &:after{
                content: '';
                width: 25px;
                height: 2px;
                background: #FFDB94;
                position: absolute;
                top: 28px;
                right: -13px;
            }
        }
        &__item{
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            @media (max-width: 768px){
                display: block;
                margin-bottom: 3rem;
            }
            &__image{
                background: #fff;
                padding: .5rem;
                cursor: pointer;
                margin-right: 4rem;
                @media (max-width: 768px){
                    margin-bottom: 1rem;
                }
                img{
                    @media (max-width: 768px){
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .modal-body{
                img{
                    width: 100%;
                    height: auto;
                }
            }
            a{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                color: #fff;
                text-decoration: none;
                @media (max-width: 768px){
                    display: block;
                }
                p{
                    margin-bottom: 0;
                    font-family: 'Newbaskerville';
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 18px;
                    @media (max-width: 768px){
                        margin-bottom: 1rem;
                    }
                }
                h2{
                    font-family: 'Newbaskerville';
                    font-weight: 600;
                    font-size: 26px;
                    line-height: 30px;
                }
                >div{
                    p{
                        &:nth-of-type(1){
                            margin-bottom: 20px;
                        }
                        &:nth-of-type(2){
                            color: #D6B173;
                        }
                    }
                }
            }
        }
    }
    .social{
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 60px;
        right: 0;
        transform: translateY(-50%);
        width: 26px;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            width: 26px;
            height: 26px;
            border-radius: 50px;
            margin-bottom: 10px;
            border: 1px solid #fff;
            &:last-of-type{
                margin-bottom: 0;
            }
            &:hover{
                border-color:#D6B173;
            }
        }
        @media (max-width: 768px){
            display: none;
        }
    }
}
.modal-window {
    background-color: #262626;
    font-family: 'Newbaskerville';
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    h1{
        font-size: 48px;
        line-height: 55px;
        padding-top: 40px;
        // padding-bottom: 35px;
    }
}
.modal-close {
    position: absolute;
    right: 60px;
    top: 40px;
    z-index: 1;
    padding: 0 !important;
    @media (max-width: 768px){
        right: 20px;
        top: 20px;
    }
}
.modal-logo{
    position: absolute;
    right: 60px;
    bottom: 40px;
    z-index: 2;
    @media (max-width: 768px){
        display: none;
    }
}
.wait-back{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
}
</style>

<style>
.el-slider__runway{
    background-color: #404040 !important;
    height: 2px !important;
}
.el-slider__bar{
    height: 2px !important;
    background-color: #D6B173 !important;
}
.el-slider__button-wrapper{
    top: -17px !important;
}
.el-slider__button{
    width: 10px !important;
    height: 10px !important;
    border: none !important;
    background-color: #D6B173 !important;
}
</style>
