<template>
    <div id="apartments" class="modal-window apartments">
        <img src="../assets/logo.png" class="modal-logo">
<!--        <div class="social">-->
<!--            <a href="javascript:void(0);"><img src="../assets/instagram.png"></a>-->
<!--            <a href="javascript:void(0);"><img src="../assets/facebook.png"></a>-->
<!--        </div>-->
        <a href="http://bigroup.ecobelka.kz/" title="Close" class="modal-close"><img src="../assets/cancel.png" class="cancel"></a>
        <div class="container" id="app">
            <h1 class="text-center text-white mb-4 mb-lg-5">Апартаменты</h1>
            <div class="position-relative image-main" @click="$router.push({ name: 'apartmentList'})">
                <div class="img-1 img-blocks">
                    <div class="position-relative"><span>1</span></div>
                    <img src="../assets/11.png" class="img-fluid" alt="">
                </div>
                <div class="img-2 img-blocks">
                    <div class="position-relative"><span>2</span></div>
                    <img src="../assets/12.png" class="img-fluid" alt="">
                </div>
                <div class="img-3 img-blocks">
                    <div class="position-relative"><span>3</span></div>
                    <img src="../assets/13.png" class="img-fluid" alt="">
                </div>
                <div class="img-blocks img-4">
                    <div class="position-relative"><span>4</span></div>
                    <img src="../assets/14.png" class="img-fluid" alt="">
                </div>
                <div class="img-blocks img-5">
                    <div class="position-relative"><span>5</span></div>
                    <img src="../assets/15.png" class="img-fluid" alt="">
                </div>
                <div class=" img-blocks img-6">
                    <div class="position-relative"><span>6</span></div>
                    <img src="../assets/16.png" class="img-fluid" alt="">
                </div>
                <div class="img-blocks img-7">
                    <div class="position-relative"><span>7</span></div>
                    <img src="../assets/17.png" class="img-fluid" alt="">
                </div>
                <div class="img-blocks img-8">
                    <div class="position-relative"><span>8</span></div>
                    <img src="../assets/18.png" class="img-fluid" alt="">
                </div>
                <img src='../assets/home.jpg' class="img-fluid w-100" alt="">
            </div>
        </div>
    </div>
</template>
<script>
    export default {
    name: 'home',
    data() {
        return {
            myData: null
        }
    }
}
</script>
<style lang="scss" scoped>
.apartments{
    padding-bottom: 2rem;
    background-color: #262626;
    h1{
        margin-bottom: 110px;
    }
    &__block{
        padding: 0 5rem;
        @media (max-width: 768px){
            padding: 0 2rem;
        }
        &:nth-of-type(1){
            margin-bottom: 45px;
        }
        &:nth-of-type(2){
            margin-bottom: 45px;
        }
        &:nth-of-type(3){
            @media (max-width: 768px){
                margin-bottom: 45px;
            }
        }
        h6{
            font-family: 'Newbaskerville';
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            color: rgba(255, 255, 255, 0.5);
        }
        p{
            font-family: 'Newbaskerville';
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            color: #ffffff;
            span{
                color: rgba(255, 255, 255, 0.5);
            }
        }
        .clear{
            margin-top: 40px;
            font-family: 'Newbaskerville';
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            color: rgba(255, 255, 255, 0.5);
        }
    }
    .social{
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 60px;
        right: 0;
        transform: translateY(-50%);
        width: 26px;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            width: 26px;
            height: 26px;
            border-radius: 50px;
            margin-bottom: 10px;
            border: 1px solid #fff;
            &:last-of-type{
                margin-bottom: 0;
            }
            &:hover{
                border-color:#D6B173;
            }
        }
        @media (max-width: 768px){
            display: none;
        }
    }
}
.modal-window {
    background-color: #262626;
    font-family: 'Newbaskerville';
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    h1{
        font-size: 48px;
        line-height: 55px;
        padding-top: 40px;
        // padding-bottom: 35px;
    }
}
.modal-close {
    position: absolute;
    right: 60px;
    top: 40px;
    z-index: 1;
    padding: 0 !important;
    @media (max-width: 768px){
        right: 20px;
        top: 20px;
    }
}
.modal-logo{
    position: absolute;
    right: 60px;
    bottom: 40px;
    z-index: 2;
    @media (max-width: 768px){
        display: none;
    }
}
.wait-back{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
}
</style>
<style lang="sass">
    .img-blocks
        position: absolute
        left: 0
        top: 0
        width: 100px
        z-index: 1
        transition: .2s
        opacity: 0
        .position-relative
            width: 100%
            text-align: center
            span
                font-size: 35px
                width: 40px
                height: 40px
                line-height: 38px
                border-radius: 100%
                background: white
                border: 1px solid black
                font-weight: bold
                color: #FFDB94
                position: absolute
                top: 0
                left: 50%
                transform: translate(-50%, -80%)
                -webkit-text-stroke-width: 1px
                -webkit-text-stroke-color: black
        &:hover
            opacity: 1
    .img-3
        left: 57.5%
        top: 57.4%
        width: 24.5%
        z-index: 3
    .img-2
        width: 22%
        top: 47%
        left: 66%
        z-index: 2
    .img-1
        top: 32%
        left: 62%
        width: 25.5%
        z-index: 1
    .img-5
        left: 28.3%
        top: 30.2%
        width: 25%
        z-index: 3
    .img-4
        left: 36.5%
        top: 21.5%
        width: 20%
    .img-6
        left: 4.7%
        width: 22.5%
        z-index: 3
        top: 25.5%
    .img-7
        left: 12.5%
        top: 21.5%
        z-index: 2
        width: 16%
    .img-8
        top: 15.5%
        left: 20.8%
        width: 16%
        z-index: 1
</style>
